h1{
    align-content: center;
    background-color: blanchedalmond;
}
h3{
    align-content: center;
    background-color: burlywood;
}
#form1
{
    align-content: center;
    background-color: burlywood;
    color: rgb(218, 115, 60);
}
#form2{
    align-content: center;
    background-color: burlywood;
    color: rgb(178, 201, 32);
}